html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.containerForm {
  margin: 0 auto;
  width: 500px;
  padding: 50px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.inputForm {
  display: block;
  margin-bottom: 20px;
  width: 300px;
  height: 30px;
  border-color: 1px ridge #000000;
}

.buttonForm {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  margin-left: 15px;
  border: none;
  background-color: rgba(0, 0, 0, 0.164);
  font-weight: 600;
  padding: 10px;
}

.inputForm:required:focus:valid {
  outline: 3px solid #000;
}

.inputForm:required:focus:invalid {
  outline: 3px solid #000;
}

.inputForm {
  outline-offset: -2px;
}

.phoneHeader {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 400;
}
